/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
		box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */


/* GENERAL STYLES */
* {
	/* border: 1px solid red !important; */
}

h1 {
	font-size: 5em;
}

body {
	margin: 2% 6%;
	padding-top: 8vh;
	max-width: 900px;
}

/* GOOGLE FONT STYLE FOR STRETCH */
p {
	font-family: 'Overpass Mono';
}

/* HEADER STYLES */
header  * {
	display: inline-block;
}

header {
	width: 100vw;
	position: fixed;
	height: 8vh;
	background: grey;
	top: 0;
	left: 0;
	z-index: 99;
}

header nav {
	width: 80%;
	margin-top: 2.5%;
}

header nav a:hover {
	color: red;
}

header img {
	width: 19%;
	position: relative;
	top: 10px;
	right: 20px;
}

header nav a {
	text-decoration: none;
	color: lightgrey;
	padding: 1%;
	margin: 0 2%;
}


/* HERO STYLES */
.hero {
	padding: 2% 2% 6%;
	margin: 4% 6%;
	border-bottom: 1px solid black;
}

.hero div {
	display: inline-block;
	width: 49%;
}

.hero > * {
	text-align: center;
}

.hero p {
	border: 1px solid;
	padding: 1.5% 0.5%;
	width: 35%;
	margin: 0 auto;
}

.hero-content {
	position: relative;
  top: -30px;
}

/* MAIN SECTION */

section {
	border-bottom: 1px solid;
	padding-bottom: 5%;
}

section div > div {
	display: inline-block;
}

.top-row div {
	width: 49.5%;
	padding: 4% 0%;
	margin: 0;
}

section img {
	width: 100%;
}

.bottom-row {
	margin-top: 3%;
}

.bottom-row div {
	width: 33%;
	margin: 2% 0;
	padding-left: .5%;;
}

/* FOOTER STYLES */

footer {
	margin: 5% 0 15%;
}

footer address p {
	padding: 1%;
}

footer small {
	text-align: center;
	display: inline-block;
	width: 25%;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	padding-top: 3%;
	font-size: 0.8em;
}


/* PRODUCT PAGE */

.product-hero {
	background-image: url(../img/droop-snoot.jpg);
	height: 50vh;
	background-position: center top;
	background-size: cover;
	border: none;
	box-shadow: 4px 4px rgba(171, 183, 183, .5);
}

.product-hero h1 {
	font-size: 5em;
	text-transform: uppercase;
	color: white;
	text-align: center;
	padding-top: 3%;
}

.product-summary {
	margin-top: 5%;
}

.product-summary h3 {
	font-size: 2em;
}

.bio {
	padding: 5%;
}

.bio div {
	padding: 2%;
}

.bio img {
	box-shadow: 4px 4px rgba(171, 183, 183, .8);
}

.bio > * {
	display: inline-block;
	width: 49%;
}

.bio h3 {
	font-size: 2em;
}

iframe {
	/* margin-top: 10%;
	margin-left: 15%; */
	position: relative;
	margin-top: 10%;
	left: 50%;
	transform: translate(-50%);
}



/* MEDIA QUERY STYLES */

@media only screen and (min-width: 1000px) {
  body {
    margin: 2% auto;
  }
}